"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-jscs"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "inconsolata-g"
    fontSize: 10
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "highlight-line":
    enableBackgroundColor: false
  linter:
    errorPanelHeight: 22
    showErrorPanel: false
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
